<div>
    <div>
        <input type="file" name="seller_profile_image" class="book-cover filepond">
    </div>
    <label for="name">Name: </label>
    <input type="text" value="<%=seller.sellerName%>" name="name" required placeholder="Name of Seller">
    <br>
    <label for="address">Address: </label>
    <textarea type="text" name="address" required placeholder="Address Of Seller">
            <%=seller.addressOfSeller%>
        </textarea>
    <br>

    <label for="category">Category of Selling:</label>
    <select name="category" required>
        <option>--Choose Category--</option>
        <%
                var options=[
                    "Electronics",
                    "TV & Appliances",
                    "Fashion",
                    "Home & Furniture",
                    "Beauty & Personal Care",
                    "Sports, Books & More"
                ];
            for(var i=0;i < options.length; i++){
                var selected = ( seller.categoryOfSeller == options[i]) ? "selected": "";  
            %>
        <option value="<%=options[i]%>" <%= selected %>><%= options[i] %></option>
        <%}%>
            
        </select>
        <br>
        <label for="phoneNumber">Phone Number: </label>
        <input type="number" name="pNumber" value="<%=seller.phoneNumber%>" placeholder="Phone Number"><br>
        <label for="description">Description: </label>
        <textarea name="description" placeholder="Description"><%=seller.description%></textarea>
</div>