<div>
    <div align="center">
        <h2>User Name: <%= customer.name %></h2>
        <h2>Address: <%= customer.address %></h2>
        <h2>Phone Number: <%= customer.phoneNumber %></h2>
        <h3>Description: <%= customer.description %></h3><br>
        <a href="/customer/<%=customer.id%>/edit">Update Profile</a>
    </div>
</div>